@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
/*   font-family: 'Inter', sans-serif; */
/* font-family: 'Outfit', sans-serif; */

body {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  line-height: 1.2;
  box-sizing: border-box;
  margin: 50px 150px;
  padding: 0;
  font-size: 1.2em;
  color: #e7e7eb;
  font-family: 'Outfit', sans-serif;
}
h1{
    font-family: 'Inter', sans-serif;  
    font-weight: 400; 
    font-size: 4.5em;
    width: 500px;
    line-height: 0.8;
}
.error{
    display: none;
}
#buttonProceed {
  margin-left: 15.5em;
  padding: 18px 55px;
  background-color: rgba(1, 255, 255, 1);
  color: rgba(11, 17, 59, 1);
  -webkit-box-shadow: 0px 0px 21px 5px rgba(0, 255, 255, 0.3);
  -moz-box-shadow: 0px 0px 21px 5px rgba(0, 255, 255, 0.3);
  box-shadow: 0px 0px 21px 5px rgba(0, 255, 255, 0.3);
  font-size: 1em;
  font-weight: bold;
  letter-spacing: -0.7px
}

.viola {
  color: rgba(194, 19, 141, 1);
  font-family: 'Outfit', sans-serif; 
  font-size: 1.7em;

}
header img {
  width: 300px;
}

p, ul{
    font-size: 1.7em;

}
#error{
    font-size: 1.2em;
    color:red;
}

#contenitoreCondizioni {
    font-size: 1.4em;
    margin-top: 120px;
}

#condizioni{
    width: 20px;
    height: 20px;
}